on boot
    # Touchpanel
    chown system system /sys/touchpanel/double_tap
    chmod 0777 /sys/touchpanel/double_tap
    write /sys/touchpanel/double_tap 1

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix
